extends layout

block content
    div.container
        h1= title
        div.w-75
            form(method="POST", action="")
                div.form-group
                    label(for="name") Category Name
                    input#name.form-control.bg-dark.border.border-dark.text-light(
                        required
                        type="text",
                        name="name",
                        maxlength="40",
                        placeholder="Enter Category Name",
                        value=(category === undefined ? '' : category.name)
                    )

                div.form-group
                    label(for="description") Category Description
                    textarea#description.form-control.bg-dark.border.border-dark.text-light(
                        type="text",
                        name="description",
                        placeholder="Enter Category Description",
                        maxlength="5000",
                        rows="10",
                        value=(category === undefined ? '' : category.description)
                    ) #{category === undefined ? '' : category.description}

                if isUpdating
                    div.form-group
                        label(for='password') Admin Password
                        input#password.form-control.bg-dark.border.border-dark.text-light(
                            required
                            type="password",
                            name="password",
                            placeholder="Enter your admin password"
                        )

                button.btn.btn-outline-success(type="submit") Submit

            if errors
                ul 
                    for error in errors 
                        li!= error.msg