extends layout

block content
  h1.li4= item.name

  div(id=latex)
    script(src="https://polyfill.io/v3/polyfill.min.js?features=es6" async)
    script(id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")
    p #[strong Description]: #{item.description}
    br
    h5.li3 #[strong Quantity:] #{item.quantity}
    h5.li2 #[strong Price:] #{item.price}
    

  br
  br
  a(href=item.url +'/update' class='li4') Update Item
  br
  br
  a(href=item.url + '/delete' class='li4') Delete Item
  br
  br
